<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Jinna Gik">
		<meta name="description" content="UMAYA Template is a uniquely HTML5 template develop in HTML with a modern look.">
		<meta name="keywords" content="creative, modern, clean, html5, css3, portfolio, blog, agency, templates, minimal">

		<!-- favicon -->
		<link rel="shortcut icon" href="assets/images/favicon.png">
		<link rel="apple-touch-icon" href="assets/images/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png">

		<title>UMAYA</title>

		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<!-- styles -->
		<link href="assets/css/plugins.css" rel="stylesheet" type="text/css">
		<link href="assets/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body class="preloader cursor-anim-enable dark-nav">
		<!-- preloader-loading start -->
		<div class="preloader__logoload-box">
			<img class="preloader__logo" src="assets/images/logo/logo-white.png" alt="logo">
			<div class="preloader__pulse"></div>
		</div><!-- preloader-loading end -->

		<!-- pointer start -->
		<div class="pointer js-pointer" id="js-pointer">
			<i class="pointer__inner fas fa-long-arrow-alt-right"></i>
			<i class="pointer__inner fas fa-search"></i>
			<i class="pointer__inner fas fa-link"></i>
		</div><!-- pointer end -->

		<!-- to top btn start -->
		<a href="#up" class="scroll-to-btn js-headroom js-midnight-color js-smooth-scroll js-pointer-large">
			<span class="scroll-to-btn__box">
				<span class="scroll-to-btn__arrow"></span>
			</span>
		</a><!-- to top btn end -->

		<!-- scroll down btn start -->
		<a href="#down" class="scroll-to-btn to-down js-headroom js-midnight-color js-smooth-scroll js-pointer-large js-scroll-btn">
			<span class="scroll-to-btn__box">
				<span class="scroll-to-btn__arrow"></span>
			</span>
		</a><!-- scroll down btn end -->

		<!-- header start -->
		<header class="fixed-header">
			<!-- logo start -->
			<div class="header-logo js-midnight-color js-headroom">
				<div class="hidden-box">
					<a href="index.html" class="header-logo__box js-pointer-large js-animsition-link">
						<img class="header-logo__img white" src="assets/images/logo/logo-white.png" alt="logo">
						<img class="header-logo__img black" src="assets/images/logo/logo-black.png" alt="logo">
					</a>
				</div>
			</div><!-- logo end -->

			<!-- menu-icon start -->
			<div class="menu-icon js-menu-open-close js-pointer-large js-midnight-color js-headroom">
				<div class="menu-icon__box">
					<span class="menu-icon__inner"></span>
					<span class="menu-icon__close"></span>
				</div>
			</div><!-- menu-icon end -->

			<!-- header-contact start -->
			<div class="header-contact js-midnight-color js-headroom">
				<div class="header-contact__flex">
					<div class="header-contact__anim">
						<a href="#" class="header-contact__btn vertical-text center js-pointer-large">
							<span class="vertical-text__inner"><i class="far fa-comment-dots"></i> Get in touch</span>
						</a>
					</div>
				</div>
			</div><!-- header-contact end -->

			<!-- header-social start -->
			<div class="header-social after-preloader-anim js-midnight-color js-headroom">
				<ul class="list list_center list_margin-20px hidden-box">
					<li class="list__item">
						<div class="hidden-box d-inline-block">
							<a href="#" class="anim-slide js-pointer-small">
								<i class="fab fa-facebook-f"></i>
							</a>
						</div>
					</li>
					<li class="list__item">
						<div class="hidden-box d-inline-block">
							<a href="#" class="anim-slide tr-delay-02 js-pointer-small">
								<i class="fab fa-twitter"></i>
							</a>
						</div>
					</li>
					<li class="list__item">
						<div class="hidden-box d-inline-block">
							<a href="#" class="anim-slide tr-delay-04 js-pointer-small">
								<i class="fab fa-instagram"></i>
							</a>
						</div>
					</li>
					<li class="list__item">
						<div class="hidden-box d-inline-block">
							<a href="#" class="anim-slide tr-delay-06 js-pointer-small">
								<i class="fab fa-behance"></i>
							</a>
						</div>
					</li>
					<li class="list__item">
						<div class="hidden-box d-inline-block">
							<a href="#" class="anim-slide tr-delay-08 js-pointer-small">
								<i class="fab fa-dribbble"></i>
							</a>
						</div>
					</li>
					<li class="list__item">
						<div class="hidden-box d-inline-block">
							<a href="#" class="anim-slide tr-delay-10 js-pointer-small">
								<i class="fab fa-youtube"></i>
							</a>
						</div>
					</li>
				</ul>
			</div><!-- header-social end -->
		</header><!-- header end -->

		<!-- navigation start -->
		<nav class="nav-container pos-rel js-dropdown-active-box">
			<!-- pos-rel start -->
			<div class="pos-rel height-100perc">
				<!-- dropdown close btn start -->
				<div class="dropdown-close">
					<div class="dropdown-close__inner js-dropdown-close js-pointer-large">
						<span class="dropdown-close__arrow"></span>
					</div>
				</div><!-- dropdown close btn end -->

				<!-- js-nav-slider-bg start -->
				<div class="js-nav-slider-bg">
					<!-- swiper-wrapper start -->
					<div class="swiper-wrapper">
						<!-- swiper-slide start -->
						<div class="swiper-slide">
							<div class="nav-slide-bg" style="background-image:url(assets/images/projects/speakers/revolt-BMest61rcqs-unsplash.jpg)"></div>
							<div class="bg-overlay-black"></div>
						</div><!-- swiper-slide end -->
						<!-- swiper-slide start -->
						<div class="swiper-slide">
							<div class="nav-slide-bg" style="background-image:url(assets/images/projects/sneakers/revolt-164_6wVEHfI-unsplash.jpg)"></div>
							<div class="bg-overlay-black"></div>
						</div><!-- swiper-slide end -->
						<!-- swiper-slide start -->
						<div class="swiper-slide">
							<div class="nav-slide-bg" style="background-image:url(assets/images/projects/black-bike/josh-nuttall-pIwu5XNvXpk-unsplash.jpg)"></div>
							<div class="bg-overlay-black"></div>
						</div><!-- swiper-slide end -->
						<!-- swiper-slide start -->
						<div class="swiper-slide">
							<div class="nav-slide-bg" style="background-image:url(assets/images/projects/pexels/woman-in-black-sexy-top-2825034.jpg)"></div>
							<div class="bg-overlay-black"></div>
						</div><!-- swiper-slide end -->
						<!-- swiper-slide start -->
						<div class="swiper-slide">
							<div class="nav-slide-bg" style="background-image:url(assets/images/projects/furniture/goashape-RvyJGaoaWrs-unsplash.jpg)"></div>
							<div class="bg-overlay-black"></div>
						</div><!-- swiper-slide end -->
					</div><!-- swiper-wrapper end -->
				</div><!-- js-nav-slider-bg end -->

				<!-- menu-box start -->
				<ul class="menu-box">
					<!-- nav-btn-box start -->
					<li class="nav-btn-box js-dropdown-open">
						<a class="nav-btn large dropdown-hidden-btn js-pointer-large">
							<span class="nav-btn__inner" data-text="Home">Home</span>
						</a>

						<!-- dropdown start -->
						<ul class="menu-box dropdown js-dropdown">
							<li class="nav-btn-box">
								<a href="home_creative-agency.html" class="nav-btn js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="Creative agency">Creative agency</span>
								</a>
							</li>
							<li class="nav-btn-box">
								<a href="home_interior-design.html" class="nav-btn js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="Interior design">Interior design</span>
								</a>
							</li>
							<li class="nav-btn-box">
								<a href="home_corporate.html" class="nav-btn js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="Corporate">Corporate</span>
								</a>
							</li>
							<li class="nav-btn-box">
								<a href="home_freelancer.html" class="nav-btn js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="Freelancer">Freelancer</span>
								</a>
							</li>
							<li class="nav-btn-box">
								<a href="home_musician.html" class="nav-btn js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="Musician">Musician</span>
								</a>
							</li>
						</ul><!-- dropdown end -->
					</li><!-- nav-btn-box end -->

					<!-- nav-btn-box start -->
					<li class="nav-btn-box js-dropdown-open">
						<a class="nav-btn large dropdown-hidden-btn js-pointer-large">
							<span class="nav-btn__inner" data-text="Pages">Pages</span>
						</a>

						<!-- dropdown start -->
						<ul class="menu-box dropdown js-dropdown">
							<li class="nav-btn-box">
								<a href="pages_about-us.html" class="nav-btn js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="About us">About us</span>
								</a>
							</li>
							<li class="nav-btn-box">
								<a href="pages_who-we-are.html" class="nav-btn js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="Who we are">Who we are</span>
								</a>
							</li>
							<li class="nav-btn-box">
								<a href="pages_what-we-do.html" class="nav-btn js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="What We Do">What We Do</span>
								</a>
							</li>
							<li class="nav-btn-box">
								<a href="pages_agency.html" class="nav-btn js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="Agency">Agency</span>
								</a>
							</li>
							<li class="nav-btn-box">
								<a href="pages_services.html" class="nav-btn js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="Services">Services</span>
								</a>
							</li>
						</ul><!-- dropdown end -->
					</li><!-- nav-btn-box end -->

					<!-- nav-btn-box start -->
					<li class="nav-btn-box js-dropdown-open">
						<a class="nav-btn large dropdown-hidden-btn js-pointer-large">
							<span class="nav-btn__inner" data-text="Portfolio">Portfolio</span>
						</a>

						<!-- dropdown start -->
						<ul class="menu-box dropdown js-dropdown">
							<li class="nav-btn-box">
								<a href="portfolio_parallax.html" class="nav-btn small js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="Parallax">Parallax</span>
								</a>
							</li>
							<li class="nav-btn-box">
								<a href="portfolio_parallax-2.html" class="nav-btn small js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="Parallax 2">Parallax 2</span>
								</a>
							</li>
							<li class="nav-btn-box">
								<a href="portfolio_freemode.html" class="nav-btn small js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="Freemode">Freemode</span>
								</a>
							</li>
							<li class="nav-btn-box">
								<a href="portfolio_columns.html" class="nav-btn small js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="Columns">Columns</span>
								</a>
							</li>
							<li class="nav-btn-box">
								<a href="portfolio_columns-parallax.html" class="nav-btn small js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="Columns parallax">Columns parallax</span>
								</a>
							</li>
							<li class="nav-btn-box">
								<a href="portfolio_fade.html" class="nav-btn small js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="Fade">Fade</span>
								</a>
							</li>
							<li class="nav-btn-box">
								<a href="portfolio_fade-horizontal.html" class="nav-btn small js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="Fade horizontal">Fade horizontal</span>
								</a>
							</li>
						</ul><!-- dropdown end -->
					</li><!-- nav-btn-box end -->

					<!-- nav-btn-box start -->
					<li class="nav-btn-box js-dropdown-slider-open">
						<a class="nav-btn large dropdown-hidden-btn js-pointer-large">
							<span class="nav-btn__inner" data-text="Projects">Projects</span>
						</a>

						<!-- dropdown start -->
						<div class="dropdown js-dropdown">
							<!-- js-nav-slider start -->
							<div class="js-nav-slider">
								<!-- swiper-wrapper start -->
								<ul class="swiper-wrapper">
									<!-- swiper-slide start -->
									<li class="nav-btn-box swiper-slide">
										<div class="hidden-box">
											<a href="project_drone.html" class="nav-btn small js-animsition-link js-pointer-large">
												<span class="nav-btn__inner" data-text="Speakers">Speakers</span>
											</a>
										</div>
									</li><!-- swiper-slide end -->
									<!-- swiper-slide start -->
									<li class="nav-btn-box swiper-slide">
										<div class="hidden-box">
											<a href="project_drone.html" class="nav-btn small js-animsition-link js-pointer-large">
												<span class="nav-btn__inner" data-text="Sneakers">Sneakers</span>
											</a>
										</div>
									</li><!-- swiper-slide end -->
									<!-- swiper-slide start -->
									<li class="nav-btn-box swiper-slide">
										<div class="hidden-box">
											<a href="project_drone.html" class="nav-btn small js-animsition-link js-pointer-large">
												<span class="nav-btn__inner" data-text="Black Bike">Black Bike</span>
											</a>
										</div>
									</li><!-- swiper-slide end -->
									<!-- swiper-slide start -->
									<li class="nav-btn-box swiper-slide">
										<div class="hidden-box">
											<a href="project_drone.html" class="nav-btn small js-animsition-link js-pointer-large">
												<span class="nav-btn__inner" data-text="Pexels">Pexels</span>
											</a>
										</div>
									</li><!-- swiper-slide end -->
									<!-- swiper-slide start -->
									<li class="nav-btn-box swiper-slide">
										<div class="hidden-box">
											<a href="project_drone.html" class="nav-btn small js-animsition-link js-pointer-large">
												<span class="nav-btn__inner" data-text="Furniture">Furniture</span>
											</a>
										</div>
									</li><!-- swiper-slide end -->
								</ul><!-- swiper-wrapper end -->

								<!-- swiper-button-prev start -->
								<div class="swiper-button-prev-box">
									<div class="dropdown-slider-controls">
										<div class="swiper-button-prev"></div>
									</div>
								</div><!-- swiper-button-prev end -->
								<!-- swiper-button-next start -->
								<div class="swiper-button-next-box">
									<div class="dropdown-slider-controls">
										<div class="swiper-button-next"></div>
									</div>
								</div><!-- swiper-button-next end -->

								<!-- swiper-pagination start -->
								<div class="pagination-box">
									<div class="dropdown-slider-controls">
										<div class="swiper-pagination counter-pagination"></div>
									</div>
								</div><!-- swiper-pagination end -->
							</div><!-- js-nav-slider end -->
						</div><!-- dropdown end -->
					</li><!-- nav-btn-box end -->

					<!-- nav-btn-box start -->
					<li class="nav-btn-box js-dropdown-open">
						<a class="nav-btn large dropdown-hidden-btn js-pointer-large">
							<span class="nav-btn__inner" data-text="Blog">Blog</span>
						</a>

						<!-- dropdown start -->
						<ul class="menu-box dropdown js-dropdown">
							<li class="nav-btn-box">
								<a href="blog_sidebar.html" class="nav-btn js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="Sidebar">Sidebar</span>
								</a>
							</li>
							<li class="nav-btn-box">
								<a href="blog_grid.html" class="nav-btn js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="Grid">Grid</span>
								</a>
							</li>
							<li class="nav-btn-box">
								<a href="blog_sliders.html" class="nav-btn js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="Sliders">Sliders</span>
								</a>
							</li>
							<li class="nav-btn-box">
								<a href="blog_filter.html" class="nav-btn js-animsition-link js-pointer-large">
									<span class="nav-btn__inner" data-text="Filter">Filter</span>
								</a>
							</li>
						</ul><!-- dropdown end -->
					</li><!-- nav-btn-box end -->

					<!-- nav-btn-box start -->
					<li class="nav-btn-box">
						<a href="contact.html" class="nav-btn large dropdown-hidden-btn js-animsition-link js-pointer-large">
							<span class="nav-btn__inner" data-text="Contact">Contact</span>
						</a>
					</li><!-- nav-btn-box end -->
				</ul><!-- menu-box end -->

				<!-- nav-information start -->
				<div class="nav-information">
					<!-- nav-email start -->
					<div>
						<div class="hidden-box d-inline-block">
							<div class="headline-xxxxs nav-title-color nav-reveal-anim js-nav-anim">Email</div>
						</div>
						<div class="nav-fade-anim js-nav-anim margin-top-10">
							<a href="#" class="subhead-xxs nav-text-color text-hover-to-red js-pointer-small">email@umaya_agency.com</a><br>
							<a href="#" class="subhead-xxs nav-text-color text-hover-to-red js-pointer-small">email@umaya_job.com</a>
						</div>
					</div><!-- nav-email end -->

					<!-- nav-address start -->
					<div>
						<div class="hidden-box d-inline-block">
							<div class="headline-xxxxs nav-title-color nav-reveal-anim js-nav-anim">Address</div>
						</div>
						<div class="nav-fade-anim js-nav-anim margin-top-10">
							<a href="#" class="subhead-xxs nav-text-color text-hover-to-red js-pointer-small">
								PO Box 223158 Oliver Street<br>
								East Victoria 2006 UK
							</a>
						</div>
					</div><!-- nav-address end -->

					<!-- nav-phone start -->
					<div>
						<div class="hidden-box d-inline-block">
							<div class="headline-xxxxs nav-title-color nav-reveal-anim js-nav-anim">Phone</div>
						</div>
						<div class="nav-fade-anim js-nav-anim margin-top-10">
							<a href="#" class="subhead-xxs nav-text-color text-hover-to-red js-pointer-small">+23 8 8532 7834</a><br>
							<a href="#" class="subhead-xxs nav-text-color text-hover-to-red js-pointer-small">+23 8 9635 7335</a>
						</div>
					</div><!-- nav-phone end -->
				</div><!-- nav-information end -->

				<!-- nav-copyright start -->
				<div class="nav-copyright text-right">
					<p class="copyright-style nav-fade-anim js-nav-anim">
						&copy; Copyright 2020 UMAYA. Template by <a href="#" class="text-weight-700 js-pointer-small">Jinna Gik</a>
					</p>
				</div><!-- nav-copyright end -->
			</div><!-- pos-rel end -->
		</nav><!-- navigation end -->

		<!-- main start -->
		<main class="js-animsition-overlay" data-animsition-overlay="true">
			<!-- page head start -->
			<section id="up" class="pos-rel section-bg-dark-1">
				<!-- pos-rel start -->
				<div class="pos-rel flex-min-height-100vh">
					<div class="container padding-top-bottom-120 after-preloader-anim">
						<h3 class="headline-xxxs hidden-box">
							<span class="anim-slide">Our Agency</span>
						</h3>
						<h2 class="subhead-xxl margin-top-20 anim-text-reveal tr-delay-03">90's mixtape single-origin coffee XOXO fashion axe butcher whatever, kinfolk cornhole retro cliche tofu humblebrag before they sold out. Af hammock listicle vape banjo echo park meditation organic cred subway tile.</h2>
					</div>
				</div><!-- pos-rel end -->
			</section><!-- page head end -->

			<!-- pos-rel start -->
			<section id="down" class="pos-rel bg-img-cover" style="background-image:url(assets/images/backgrounds/tianyi-ma-WiONHd_zYI4-unsplash.jpg)">
				<!-- bg-overlay -->
				<div class="bg-overlay-black"></div>
				<!-- pos-rel start -->
				<div class="pos-rel flex-min-height-100vh">
					<div class="container padding-top-bottom-120">
						<div class="text-center js-scrollanim">
							<!-- title start -->
							<h2 class="headline-l">
								<span class="d-block hidden-box">
									<span class="anim-slide">We Generate Creative &</span>
								</span>
								<span class="d-block hidden-box">
									<span class="anim-slide tr-delay-01">Innovative Ideas</span>
								</span>
								<span class="d-block hidden-box">
									<span class="anim-slide tr-delay-02">for Your Business</span>
								</span>
							</h2><!-- title end -->
							<div class="margin-top-30 anim-fade tr-delay-04">
								<a href="#" class="overlay-btn js-pointer-large">Explore</a>
							</div>
						</div>
					</div>
				</div><!-- pos-rel end -->
			</section><!-- pos-rel end -->

			<!-- about start -->
			<section class="pos-rel section-bg-dark-1">
				<!-- pos-rel start -->
				<div class="pos-rel flex-min-height-100vh">
					<!-- container start -->
					<div class="container padding-top-bottom-120">
						<div class="js-scrollanim">
							<h3 class="headline-xxxs hidden-box">
								<span class="anim-slide">About Us</span>
							</h3>
							<!-- title start -->
							<h2 class="subhead-xxl margin-top-20">
								<span class="d-block hidden-box">
									<span class="anim-slide tr-delay-01">Affogato thundercats quinoa, portland</span>
								</span>
								<span class="d-block hidden-box">
									<span class="anim-slide tr-delay-02">cold-pressed edison bulb</span>
								</span>
								<span class="d-block hidden-box">
									<span class="anim-slide tr-delay-03">artisan paleo banjo tousled</span>
								</span>
							</h2><!-- title end -->
							<div class="margin-top-30 anim-fade tr-delay-05">
								<a href="#" class="skew-btn js-pointer-large">
									<span class="skew-btn__box">
										<span class="skew-btn__content">Contact Us</span>
										<span class="skew-btn__arrow"></span>
									</span>
								</a>
							</div>
						</div>

						<!-- flex-container start -->
						<div class="flex-container padding-top-30">
							<!-- column start -->
							<div class="six-offset six-columns">
								<p class="body-text-m margin-top-30 anim-text-reveal js-scrollanim">Narwhal pop-up intelligentsia tbh pinterest, microdosing tilde cloud bread gochujang tattooed leggings cornhole 8-bit. Austin fam chia cold-pressed raw denim. Glossier drinking vinegar portland lo-fi, polaroid bespoke lomo. Banjo art party XOXO, fashion axe sustainable retro ethical gentrify. Iceland post-ironic health goth snackwave, mixtape synth four dollar toast sartorial. Health goth la croix vexillologist, before they sold out shabby chic.</p>
								<!-- list start -->
								<ul class="list text-color-b0b0b0 margin-top-30 js-scrollanim">
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide">Graphic Design</div>
									</li>
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide tr-delay-01">User Interface Design</div>
									</li>
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide tr-delay-02">User Experience Design</div>
									</li>
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide tr-delay-03">Web Design</div>
									</li>
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide tr-delay-04">Motion Design</div>
									</li>
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide tr-delay-05">Front-end Development</div>
									</li>
									<li class="list__item red dot hidden-box">
										<div class="subhead-xxs anim-slide tr-delay-06">Back-end Development</div>
									</li>
								</ul><!-- list end -->
							</div><!-- column end -->
						</div><!-- flex-container end -->
					</div><!-- container end -->
				</div><!-- pos-rel end -->
			</section><!-- about end -->

			<!-- testimonials start -->
			<section class="pos-rel bg-img-cover" style="background-image:url(assets/images/backgrounds/flower-vase-beside-notebook-and-pencils-3773389.jpg)">
				<!-- bg-overlay -->
				<div class="bg-overlay-black"></div>
				<!-- pos-rel start -->
				<div class="pos-rel flex-min-height-100vh">
					<!-- padding-top-bottom-120 start -->
					<div class="padding-top-bottom-120 width-100perc">
						<!-- title start -->
						<h2 class="headline-xl text-center js-scrollanim">
							<span class="anim-text-fill" data-text="Testimonials">Testimonials</span>
						</h2><!-- title end -->

						<!-- pos-rel start -->
						<div class="pos-rel padding-top-bottom-90">
							<!-- js-1-view-slider start -->
							<div class="js-1-view-slider container small hidden-box">
								<!-- swiper-wrapper start -->
								<div class="swiper-wrapper js-slider-scroll-anim">
									<!-- swiper-slide start -->
									<div class="swiper-slide">
										<!-- anim-img-scale start -->
										<div class="anim-img-scale testimonials-author border-radius-50perc">
											<img class="anim-img-scale__inner" src="assets/images/testimonials/photography-of-guy-wearing-yellow-hoodie-1183266.jpg" alt="author">
										</div><!-- anim-img-scale end -->
										<div class="text-center">
											<p class="margin-top-60 body-text-m anim-fade">Copper mug vexillologist +1 prism iPhone fashion axe portland. Hella quinoa woke blog af umami tacos freegan vinyl snackwave microdosing. Fanny pack direct trade XOXO drinking vinegar. Live-edge kinfolk master cleanse brooklyn meh organic man braid. Actually humblebrag sriracha.</p>
											<div class="headline-xxxs margin-top-20 hidden-box">
												<span class="anim-slide tr-delay-03">Dwight Bell</span>
											</div>
											<div class="subhead-xxs margin-top-5 hidden-box">
												<span class="anim-slide tr-delay-04">Banquet manager</span>
											</div>
										</div>
									</div><!-- swiper-slide end -->

									<!-- swiper-slide start -->
									<div class="swiper-slide">
										<!-- anim-img-scale start -->
										<div class="anim-img-scale testimonials-author border-radius-50perc">
											<img class="anim-img-scale__inner" src="assets/images/testimonials/informal-young-woman-listening-to-music-near-grunge-wall-3771823.jpg" alt="author">
										</div><!-- anim-img-scale end -->
										<div class="text-center">
											<p class="margin-top-60 body-text-m anim-fade">Chambray enamel pin synth shabby chic palo santo. Franzen 90's man bun wayfarers, put a bird on it twee four loko roof party shabby chic kale chips photo booth salvia mixtape lumbersexual. Pug kickstarter hammock unicorn, cardigan ennui celiac roof party. Ramps pitchfork direct.</p>
											<div class="headline-xxxs margin-top-20 hidden-box">
												<span class="anim-slide tr-delay-03">Mary Ross</span>
											</div>
											<div class="subhead-xxs margin-top-5 hidden-box">
												<span class="anim-slide tr-delay-04">Fashion designer</span>
											</div>
										</div>
									</div><!-- swiper-slide end -->

									<!-- swiper-slide start -->
									<div class="swiper-slide">
										<!-- anim-img-scale start -->
										<div class="anim-img-scale testimonials-author border-radius-50perc">
											<img class="anim-img-scale__inner" src="assets/images/testimonials/woman-wearing-white-and-black-shirt-1388888.jpg" alt="author">
										</div><!-- anim-img-scale end -->
										<div class="text-center">
											<p class="margin-top-60 body-text-m anim-fade">Pok pok authentic fashion axe, vegan venmo leggings raclette tousled twee tattooed. Banh mi humblebrag hammock tacos fashion axe aesthetic vegan sustainable taiyaki thundercats jean shorts tousled cloud bread waistcoat kogi. Cloud bread cardigan messenger bag raw.</p>
											<div class="headline-xxxs margin-top-20 hidden-box">
												<span class="anim-slide tr-delay-03">Lucille Hatcher</span>
											</div>
											<div class="subhead-xxs margin-top-5 hidden-box">
												<span class="anim-slide tr-delay-04">Investor</span>
											</div>
										</div>
									</div><!-- swiper-slide end -->

									<!-- swiper-slide start -->
									<div class="swiper-slide">
										<!-- anim-img-scale start -->
										<div class="anim-img-scale testimonials-author border-radius-50perc">
											<img class="anim-img-scale__inner" src="assets/images/testimonials/man-standing-on-stairs-1254502.jpg" alt="author">
										</div><!-- anim-img-scale end -->
										<div class="text-center">
											<p class="margin-top-60 body-text-m anim-fade">Bushwick tumeric slow-carb photo booth letterpress franzen kombucha tumblr listicle cronut waistcoat mustache. Jean shorts tilde swag cray. Microdosing heirloom wayfarers YOLO, church-key tattooed cred blue bottle viral lyft tacos retro. Bespoke drinking vinegar single-origin.</p>
											<div class="headline-xxxs margin-top-20 hidden-box">
												<span class="anim-slide tr-delay-03">Brian Amos</span>
											</div>
											<div class="subhead-xxs margin-top-5 hidden-box">
												<span class="anim-slide tr-delay-04">Health educator</span>
											</div>
										</div>
									</div><!-- swiper-slide end -->

									<!-- swiper-slide start -->
									<div class="swiper-slide">
										<!-- anim-img-scale start -->
										<div class="anim-img-scale testimonials-author border-radius-50perc">
											<img class="anim-img-scale__inner" src="assets/images/testimonials/man-standing-near-building-white-black-turtleneck-shirt-874158.jpg" alt="author">
										</div><!-- anim-img-scale end -->
										<div class="text-center">
											<p class="margin-top-60 body-text-m anim-fade">Pitchfork vaporware hella, vice next level art party subway tile swag portland. Cliche authentic photo booth, seitan sartorial iPhone brooklyn bicycle rights whatever small batch selvage affogato yuccie adaptogen vinyl. Sartorial franzen tacos cardigan, offal gluten-free pour-over.</p>
											<div class="headline-xxxs margin-top-20 hidden-box">
												<span class="anim-slide tr-delay-03">Edward Jordan</span>
											</div>
											<div class="subhead-xxs margin-top-5 hidden-box">
												<span class="anim-slide tr-delay-04">Cytotechnologist</span>
											</div>
										</div>
									</div><!-- swiper-slide end -->
								</div><!-- swiper-wrapper end -->

								<!-- swiper-button-prev start -->
								<div class="swiper-button-prev-box">
									<div class="swiper-button-prev"></div>
								</div><!-- swiper-button-prev end -->
								<!-- swiper-button-next start -->
								<div class="swiper-button-next-box">
									<div class="swiper-button-next"></div>
								</div><!-- swiper-button-next end -->

								<!-- swiper-pagination start -->
								<div class="pagination-box">
									<div class="swiper-pagination counter-pagination"></div>
								</div><!-- swiper-pagination end -->
							</div><!-- js-1-view-slider end -->
						</div><!-- pos-rel end -->
					</div><!-- padding-top-bottom-120 end -->
				</div><!-- pos-rel end -->
			</section><!-- testimonials end -->

			<!-- what we do start -->
			<section class="pos-rel section-bg-light-1" data-midnight="black">
				<!-- pos-rel start -->
				<div class="pos-rel flex-min-height-100vh">
					<!-- container start -->
					<div class="container padding-top-bottom-120">
						<h3 class="headline-xxxs text-color-black hidden-box">
							<span class="anim-slide js-scrollanim">What We Do</span>
						</h3>

						<!-- flex-container start -->
						<div class="flex-container">
							<!-- column start -->
							<div class="six-columns column-100-100 padding-top-60">
								<div class="column-r-margin-40-999 js-scrollanim">
									<h2 class="subhead-l text-color-black anim-text-reveal">Affogato thundercats quinoa, portland cold-pressed edison bulb artisan paleo banjo tousled</h2>
									<div class="margin-top-30 anim-fade tr-delay-05">
										<a href="#" class="skew-btn js-pointer-large">
											<span class="skew-btn__box">
												<span class="skew-btn__content text-color-black">Services</span>
												<span class="skew-btn__arrow black"></span>
											</span>
										</a>
									</div>
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="six-columns column-100-100 padding-top-60">
								<!-- accordion start -->
								<div class="accordion accordion_black-underline js-accordion js-accordion-first-active">
									<!-- accordion__tab start -->
									<div class="accordion__tab js-accordion-tab">
										<div class="accordion__btn js-accordion-btn js-pointer-large">
											<h6 class="accordion__btn-title black-plus-icon headline-xxxxs text-color-black margin-top-bottom-20">Web Development</h6>
										</div>
										<div class="accordion__content js-accordion-content">
											<p class="body-text-xs text-color-black">Pinterest lumbersexual forage chillwave godard pitchfork vexillologist deep v chia truffaut four dollar toast food truck meditation. Hot chicken coloring book cliche YOLO, crucifix kale chips swag hexagon raclette paleo next level austin.<br><br>Hammock sriracha paleo, iPhone swag af flexitarian hella pickled neutra pug. Trust fund chicharrones iPhone stumptown chia. Godard 3 wolf moon tacos try-hard, raw denim locavore messenger bag portland. Blue bottle hashtag schlitz etsy knausgaard, aesthetic tacos freegan lomo deep v fashion axe.</p>
										</div>
									</div><!-- accordion__tab end -->

									<!-- accordion__tab start -->
									<div class="accordion__tab js-accordion-tab">
										<div class="accordion__btn js-accordion-btn js-pointer-large">
											<h6 class="accordion__btn-title black-plus-icon headline-xxxxs text-color-black margin-top-bottom-20">Social Media Marketing</h6>
										</div>
										<div class="accordion__content js-accordion-content">
											<p class="body-text-xs text-color-black">Pinterest lumbersexual forage chillwave godard pitchfork vexillologist deep v chia truffaut four dollar toast food truck meditation. Hot chicken coloring book cliche YOLO, crucifix kale chips swag hexagon raclette paleo next level austin.<br><br>Hammock sriracha paleo, iPhone swag af flexitarian hella pickled neutra pug. Trust fund chicharrones iPhone stumptown chia. Godard 3 wolf moon tacos try-hard, raw denim locavore messenger bag portland. Blue bottle hashtag schlitz etsy knausgaard, aesthetic tacos freegan lomo deep v fashion axe.</p>
										</div>
									</div><!-- accordion__tab end -->

									<!-- accordion__tab start -->
									<div class="accordion__tab js-accordion-tab">
										<div class="accordion__btn js-accordion-btn js-pointer-large">
											<h6 class="accordion__btn-title black-plus-icon headline-xxxxs text-color-black margin-top-bottom-20">SEO Optimization</h6>
										</div>
										<div class="accordion__content js-accordion-content">
											<p class="body-text-xs text-color-black">Pinterest lumbersexual forage chillwave godard pitchfork vexillologist deep v chia truffaut four dollar toast food truck meditation. Hot chicken coloring book cliche YOLO, crucifix kale chips swag hexagon raclette paleo next level austin.<br><br>Hammock sriracha paleo, iPhone swag af flexitarian hella pickled neutra pug. Trust fund chicharrones iPhone stumptown chia. Godard 3 wolf moon tacos try-hard, raw denim locavore messenger bag portland. Blue bottle hashtag schlitz etsy knausgaard, aesthetic tacos freegan lomo deep v fashion axe.</p>
										</div>
									</div><!-- accordion__tab end -->

									<!-- accordion__tab start -->
									<div class="accordion__tab js-accordion-tab">
										<div class="accordion__btn js-accordion-btn js-pointer-large">
											<h6 class="accordion__btn-title black-plus-icon headline-xxxxs text-color-black margin-top-bottom-20">Digital Marketing</h6>
										</div>
										<div class="accordion__content js-accordion-content">
											<p class="body-text-xs text-color-black">Pinterest lumbersexual forage chillwave godard pitchfork vexillologist deep v chia truffaut four dollar toast food truck meditation. Hot chicken coloring book cliche YOLO, crucifix kale chips swag hexagon raclette paleo next level austin.<br><br>Hammock sriracha paleo, iPhone swag af flexitarian hella pickled neutra pug. Trust fund chicharrones iPhone stumptown chia. Godard 3 wolf moon tacos try-hard, raw denim locavore messenger bag portland. Blue bottle hashtag schlitz etsy knausgaard, aesthetic tacos freegan lomo deep v fashion axe.</p>
										</div>
									</div><!-- accordion__tab end -->
								</div><!-- accordion end -->
							</div><!-- column end -->
						</div><!-- flex-container end -->
					</div><!-- container end -->
				</div><!-- pos-rel end -->
			</section><!-- what we do end -->

			<!-- bg-img-cover start -->
			<div class="pos-rel bg-img-cover height-100vh" style="background-image:url(assets/images/backgrounds/woman-using-a-smartphone-while-fronting-a-macbook-pro-and-196656.jpg)">
				<!-- bg-overlay -->
				<div class="bg-overlay-black"></div>
				<div class="pos-rel height-100perc">
					<a href="https://www.youtube.com/watch?v=hitNXU4PoRU" class="play-button js-popup-youtube js-pointer-large">
						<span class="play-button__inner"></span>
					</a>
				</div>
			</div><!-- bg-img-cover end -->

			<!-- skills start -->
			<section class="pos-rel section-bg-dark-1">
				<!-- pos-rel start -->
				<div class="pos-rel flex-min-height-100vh">
					<!-- container start -->
					<div class="container padding-top-bottom-120">
						<h3 class="headline-xxxs hidden-box">
							<span class="anim-slide js-scrollanim">Our Skills</span>
						</h3>

						<!-- flex-container start -->
						<div class="flex-container padding-top-40">
							<!-- column start -->
							<div class="six-columns column-100-100 padding-top-20">
								<div class="column-r-margin-40-999 js-scrollanim">
									<h2 class="subhead-l anim-text-reveal">Affogato thundercats quinoa, portland cold-pressed edison bulb artisan paleo banjo tousled</h2>
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="six-columns column-100-100 padding-top-20">
								<p class="body-text-s anim-text-reveal js-scrollanim">Narwhal pop-up intelligentsia tbh pinterest, microdosing tilde cloud bread gochujang tattooed leggings cornhole 8-bit. Austin fam chia cold-pressed raw denim. Glossier drinking vinegar portland lo-fi, polaroid bespoke lomo. Banjo art party XOXO, fashion axe sustainable retro ethical gentrify. Iceland post-ironic health goth snackwave, mixtape synth four dollar toast sartorial. Health goth la croix vexillologist, before they sold out shabby chic.</p>
								<!-- list start -->
								<ul class="list list_margin-20px margin-top-30 js-scrollanim">
									<!-- progress-box start -->
									<li class="list__item progress-bar">
										<div class="headline-xxxxs anim-text-fill" data-text="Front-end Development">Front-end Development</div>
										<div class="progress-bar__counter headline-xxxxs anim-text-fill tr-delay-02" data-text="97%">97%</div>
										<div class="progress-bar__lines-box js-progress-animate-box" data-progress="97%">
											<div class="progress-bar__line js-progress-animate"></div>
											<div class="progress-bar__line red js-progress-animate tr-delay-01"></div>
										</div>
									</li><!-- progress-box end -->

									<!-- progress-box start -->
									<li class="list__item progress-bar">
										<div class="headline-xxxxs anim-text-fill tr-delay-01" data-text="Graphic Design">Graphic Design</div>
										<div class="progress-bar__counter headline-xxxxs anim-text-fill tr-delay-03" data-text="93%">93%</div>
										<div class="progress-bar__lines-box js-progress-animate-box" data-progress="93%">
											<div class="progress-bar__line js-progress-animate tr-delay-01"></div>
											<div class="progress-bar__line red js-progress-animate tr-delay-02"></div>
										</div>
									</li><!-- progress-box end -->

									<!-- progress-box start -->
									<li class="list__item progress-bar">
										<div class="headline-xxxxs anim-text-fill tr-delay-02" data-text="Back-end Development">Back-end Development</div>
										<div class="progress-bar__counter headline-xxxxs anim-text-fill tr-delay-04" data-text="100%">100%</div>
										<div class="progress-bar__lines-box js-progress-animate-box" data-progress="100%">
											<div class="progress-bar__line js-progress-animate tr-delay-02"></div>
											<div class="progress-bar__line red js-progress-animate tr-delay-03"></div>
										</div>
									</li><!-- progress-box end -->

									<!-- progress-box start -->
									<li class="list__item progress-bar">
										<div class="headline-xxxxs anim-text-fill tr-delay-03" data-text="UI/UX Design">UI/UX Design</div>
										<div class="progress-bar__counter headline-xxxxs anim-text-fill tr-delay-05" data-text="98%">98%</div>
										<div class="progress-bar__lines-box js-progress-animate-box" data-progress="98%">
											<div class="progress-bar__line js-progress-animate tr-delay-03"></div>
											<div class="progress-bar__line red js-progress-animate tr-delay-04"></div>
										</div>
									</li><!-- progress-box end -->

									<!-- progress-box start -->
									<li class="list__item progress-bar">
										<div class="headline-xxxxs anim-text-fill tr-delay-04" data-text="Motion Design">Motion Design</div>
										<div class="progress-bar__counter headline-xxxxs anim-text-fill tr-delay-06" data-text="86%">86%</div>
										<div class="progress-bar__lines-box js-progress-animate-box" data-progress="86%">
											<div class="progress-bar__line js-progress-animate tr-delay-04"></div>
											<div class="progress-bar__line red js-progress-animate tr-delay-05"></div>
										</div>
									</li><!-- progress-box end -->

									<!-- progress-box start -->
									<li class="list__item progress-bar">
										<div class="headline-xxxxs anim-text-fill tr-delay-05" data-text="Brand Strategy">Brand Strategy</div>
										<div class="progress-bar__counter headline-xxxxs anim-text-fill tr-delay-07" data-text="93%">93%</div>
										<div class="progress-bar__lines-box js-progress-animate-box" data-progress="93%">
											<div class="progress-bar__line js-progress-animate tr-delay-05"></div>
											<div class="progress-bar__line red js-progress-animate tr-delay-06"></div>
										</div>
									</li><!-- progress-box end -->
								</ul><!-- list end -->
							</div><!-- column end -->
						</div><!-- flex-container end -->
					</div><!-- container end -->
				</div><!-- pos-rel end -->
			</section><!-- skills end -->

			<!-- clients start -->
			<div class="pos-rel section-bg-light-2" data-midnight="black">
				<!-- pos-rel start -->
				<div class="pos-rel flex-min-height-100vh">
					<!-- container start -->
					<div class="padding-top-60 padding-bottom-120 container small">
						<!-- flex-container start -->
						<div class="flex-container">
							<!-- column start -->
							<div class="four-columns padding-top-60">
								<div class="text-center">
									<img class="client-logo" src="assets/images/clients/tamaktan.png" alt="clients logo">
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-60">
								<div class="text-center">
									<img class="client-logo" src="assets/images/clients/olchobay.png" alt="clients logo">
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-60">
								<div class="text-center">
									<img class="client-logo" src="assets/images/clients/meyman.png" alt="clients logo">
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-60">
								<div class="text-center">
									<img class="client-logo" src="assets/images/clients/kizil-jindi.png" alt="clients logo">
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-60">
								<div class="text-center">
									<img class="client-logo" src="assets/images/clients/judoboy.png" alt="clients logo">
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-60">
								<div class="text-center">
									<img class="client-logo" src="assets/images/clients/jorgo.png" alt="clients logo">
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-60">
								<div class="text-center">
									<img class="client-logo" src="assets/images/clients/guldoyjan.png" alt="clients logo">
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-60">
								<div class="text-center">
									<img class="client-logo" src="assets/images/clients/eptep-septep.png" alt="clients logo">
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-60">
								<div class="text-center">
									<img class="client-logo" src="assets/images/clients/dongolok.png" alt="clients logo">
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-60">
								<div class="text-center">
									<img class="client-logo" src="assets/images/clients/olchobay.png" alt="clients logo">
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-60">
								<div class="text-center">
									<img class="client-logo" src="assets/images/clients/balancha.png" alt="clients logo">
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="four-columns padding-top-60">
								<div class="text-center">
									<img class="client-logo" src="assets/images/clients/chayhana.png" alt="clients logo">
								</div>
							</div><!-- column end -->
						</div><!-- flex-container end -->
					</div><!-- container end -->
				</div><!-- pos-rel end -->
			</div><!-- clients end -->

			<!-- team start -->
			<section class="pos-rel section-bg-dark-1">
				<!-- pos-rel start -->
				<div class="pos-rel padding-top-bottom-120">
					<!-- container start -->
					<div class="container small">
						<!-- title start -->
						<h2 class="headline-xxl text-center hidden-box js-scrollanim">
							<span class="anim-slide">Our Creative Team</span>
						</h2><!-- title end -->

						<!-- flex-container start -->
						<div class="flex-container flex-justify-center padding-top-30">
							<!-- column start -->
							<div class="six-columns padding-top-60">
								<div class="column-l-r-margin-20">
									<div class="anim-img-scale js-img-scale">
										<img class="anim-img-scale__inner" src="assets/images/team/team_agency/man-in-gray-knit-cap-and-gray-sweater-3829998.jpg" alt="James Patterson">
									</div>
									<div class="text-center margin-top-20 js-scrollanim">
										<h4 class="headline-xxxs hidden-box">
											<span class="anim-slide tr-delay-01">James Patterson</span>
										</h4>
										<span class="subhead-xxs text-color-b0b0b0 d-block hidden-box margin-top-5">
											<span class="anim-slide tr-delay-02">Creative Director</span>
										</span>
										<p class="body-text-xs text-color-dadada margin-top-20 anim-text-reveal tr-delay-03">Pinterest lumbersexual forage chillwave godard pitchfork vexillologist deep v chia truffaut four dollar toast food truck meditation. Hot chicken coloring book cliche YOLO, crucifix kale.</p>
									</div>
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="six-columns padding-top-60">
								<div class="column-l-r-margin-20">
									<div class="anim-img-scale js-img-scale">
										<img class="anim-img-scale__inner" src="assets/images/team/team_agency/man-wearing-grey-shirt-2955027.jpg" alt="Samuel Phillip">
									</div>
									<div class="text-center margin-top-20 js-scrollanim">
										<h4 class="headline-xxxs hidden-box">
											<span class="anim-slide tr-delay-01">Samuel Phillip</span>
										</h4>
										<span class="subhead-xxs text-color-b0b0b0 d-block hidden-box margin-top-5">
											<span class="anim-slide tr-delay-02">UX/UI Designer</span>
										</span>
										<p class="body-text-xs text-color-dadada margin-top-20 anim-text-reveal tr-delay-03">Pinterest lumbersexual forage chillwave godard pitchfork vexillologist deep v chia truffaut four dollar toast food truck meditation. Hot chicken coloring book cliche YOLO, crucifix kale.</p>
									</div>
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="six-columns padding-top-60">
								<div class="column-l-r-margin-20">
									<div class="anim-img-scale js-img-scale">
										<img class="anim-img-scale__inner" src="assets/images/team/team_agency/photo-of-man-wearing-dress-shirt-and-fedora-2313192.jpg" alt="Diego Lester">
									</div>
									<div class="text-center margin-top-20 js-scrollanim">
										<h4 class="headline-xxxs hidden-box">
											<span class="anim-slide tr-delay-01">Diego Lester</span>
										</h4>
										<span class="subhead-xxs text-color-b0b0b0 d-block hidden-box margin-top-5">
											<span class="anim-slide tr-delay-02">Web Developer</span>
										</span>
										<p class="body-text-xs text-color-dadada margin-top-20 anim-text-reveal tr-delay-03">Pinterest lumbersexual forage chillwave godard pitchfork vexillologist deep v chia truffaut four dollar toast food truck meditation. Hot chicken coloring book cliche YOLO, crucifix kale.</p>
									</div>
								</div>
							</div><!-- column end -->

							<!-- column start -->
							<div class="six-columns padding-top-60">
								<div class="column-l-r-margin-20">
									<div class="anim-img-scale js-img-scale">
										<img class="anim-img-scale__inner" src="assets/images/team/team_agency/photo-of-woman-in-black-long-sleeved-dress-posing-with-her-2843035.jpg" alt="Janet Paquette">
									</div>
									<div class="text-center margin-top-20 js-scrollanim">
										<h4 class="headline-xxxs hidden-box">
											<span class="anim-slide tr-delay-01">Janet Paquette</span>
										</h4>
										<span class="subhead-xxs text-color-b0b0b0 d-block hidden-box margin-top-5">
											<span class="anim-slide tr-delay-02">Graphic Designer</span>
										</span>
										<p class="body-text-xs text-color-dadada margin-top-20 anim-text-reveal tr-delay-03">Pinterest lumbersexual forage chillwave godard pitchfork vexillologist deep v chia truffaut four dollar toast food truck meditation. Hot chicken coloring book cliche YOLO, crucifix kale.</p>
									</div>
								</div>
							</div><!-- column end -->
						</div><!-- flex-container end -->
					</div><!-- container end -->
				</div><!-- pos-rel end -->
			</section><!-- team end -->
		</main><!-- main end -->

		<!-- footer start -->
		<footer class="fixed-footer pos-rel bg-img-cover js-fixed-footer" style="background-image:url(assets/images/backgrounds/man-holding-videocamera-standing-in-studio-3379943.jpg)">
			<!-- bg-overlay -->
			<div class="bg-overlay-black"></div>
			<!-- pos-rel start -->
			<div class="pos-rel flex-min-height-100vh">
				<!-- container start -->
				<div class="container padding-top-bottom-120">
					<!-- footer-logo start -->
					<div class="footer-logo footer-logo-desktop-hidden padding-bottom-90">
						<img class="footer-logo__img" src="assets/images/logo/logo-white.png" alt="logo">
					</div><!-- footer-logo end -->

					<!-- flex-container start -->
					<div class="flex-container flex-align-center">
						<!-- column start -->
						<div class="eight-columns">
							<h4 class="column-l-r-margin-10 headline-l footer-title">
								The <span class="text-color-red">Best<br>Agency</span> for<br>Your Businnes
							</h4>
						</div><!-- column end -->
						<!-- column start -->
						<div class="four-columns footer-nav-mobile-padding">
							<ul class="column-l-r-margin-10 footer-nav-list js-footer-hover-box">
								<li>
									<a href="#" class="footer-nav__btn js-pointer-small js-footer-hover-link">Home</a>
								</li>
								<li>
									<a href="#" class="footer-nav__btn js-pointer-small js-footer-hover-link">About</a>
								</li>
								<li>
									<a href="#" class="footer-nav__btn js-pointer-small js-footer-hover-link">Services</a>
								</li>
								<li>
									<a href="#" class="footer-nav__btn js-pointer-small js-footer-hover-link">Portfolio</a>
								</li>
								<li>
									<a href="#" class="footer-nav__btn js-pointer-small js-footer-hover-link">Blog</a>
								</li>
								<li>
									<a href="#" class="footer-nav__btn js-pointer-small js-footer-hover-link">Contact</a>
								</li>
							</ul>
						</div><!-- column end -->
					</div><!-- flex-container end -->

					<!-- flex-container start -->
					<div class="flex-container flex-justify-center padding-top-30">
						<!-- column start -->
						<div class="four-columns column-50-100 padding-top-60 footer-email">
							<div class="column-l-r-margin-10">
								<div class="headline-xxxxs">Email</div>
								<div class="margin-top-10">
									<a href="#" class="subhead-xxs text-color-b0b0b0 text-hover-to-white js-pointer-small">email@umaya_agency.com</a><br>
									<a href="#" class="subhead-xxs text-color-b0b0b0 text-hover-to-white js-pointer-small">email@umaya_job.com</a>
								</div>
							</div>
						</div><!-- column end -->
						<!-- column start -->
						<div class="four-columns column-50-100 padding-top-60 footer-address">
							<div class="column-l-r-margin-10">
								<div class="headline-xxxxs">Address</div>
								<div class="margin-top-10">
									<a href="#" class="subhead-xxs text-color-b0b0b0 text-hover-to-white js-pointer-small">
										PO Box 223158 Oliver Street<br>
										East Victoria 2006 UK
									</a>
								</div>
							</div>
						</div><!-- column end -->
						<!-- column start -->
						<div class="four-columns column-50-100 padding-top-60 footer-phone">
							<div class="column-l-r-margin-10">
								<div class="headline-xxxxs">Phone</div>
								<div class="margin-top-10">
									<a href="#" class="subhead-xxs text-color-b0b0b0 text-hover-to-white js-pointer-small">+23 8 8532 7834</a><br>
									<a href="#" class="subhead-xxs text-color-b0b0b0 text-hover-to-white js-pointer-small">+23 8 9635 7335</a>
								</div>
							</div>
						</div><!-- column end -->
					</div><!-- flex-container end -->

					<!-- footer-social start -->
					<ul class="footer-social-desktop-hidden list list_center padding-top-90">
						<li class="list__item">
							<a href="#" class="flip-btn js-pointer-small" data-text="Facebook">Facebook</a>
						</li>
						<li class="list__item">
							<a href="#" class="flip-btn js-pointer-small" data-text="Dribbble">Dribbble</a>
						</li>
						<li class="list__item">
							<a href="#" class="flip-btn js-pointer-small" data-text="Instagram">Instagram</a>
						</li>
						<li class="list__item">
							<a href="#" class="flip-btn js-pointer-small" data-text="Youtube">Youtube</a>
						</li>
						<li class="list__item">
							<a href="#" class="flip-btn js-pointer-small" data-text="Behance">Behance</a>
						</li>
						<li class="list__item">
							<a href="#" class="flip-btn js-pointer-small" data-text="Twitter">Twitter</a>
						</li>
					</ul><!-- footer-social end -->

					<!-- footer-copyright start -->
					<div class="footer-copyright text-center pos-abs pos-bottom-center">
						<p class="copyright-style">
							&copy; Copyright 2020 UMAYA. Template by <a href="#" class="text-weight-700 js-pointer-small">Jinna Gik</a>
						</p>
					</div><!-- footer-copyright end -->
				</div><!-- container end -->
			</div><!-- pos-rel end -->
		</footer><!-- footer end -->

		<!-- scripts -->
		<script src="assets/js/plugins.js"></script>
		<script src="assets/js/footer-reveal.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="assets/js/footer-reveal_init.js"></script>
	</body>
</html>